*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: mediumvioletred;
    align-items: center;
}
nav{
    width: 200px;
    height: 50vw;
    display: flex;
    flex-direction: column;
    background-color:#f2d0e0 ;
}


div{
    width: 200px;
    border: 1px black solid;
}

.imagens-pequenas{
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
}

.imagem-grande{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}